@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic&subset=latin,cyrillic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
html {height: 100%; -webkit-font-smoothing: antialiased;}

body {font-family: PT Sans, sans-serif; background: #fff;}/* height: 100%;*/

strong {font-weight: bold;} 

table {border-collapse: collapse; border-spacing:0; width: 100%;}

a {text-decoration:none; color: #DD2C7F; outline: none !important;}
a:hover {color: #DD2C7F; text-decoration: underline;}

a.link-js {text-decoration: none; border-bottom: 1px dotted #DD2C7F; display: inline-block; line-height: 1;}
a.link-js:hover {border-color: #DD2C7F;}

a.js {transition: color 0.2s ease-in-out 0s;}
a.js:hover {transition: color 0.2s ease-in-out 0s;}

a.js-bg {transition: background 0.2s ease-in-out 0s;}
a.js-bg:hover {transition: background 0.2s ease-in-out 0s;}

h1, h2, h3, h4, h5, h6 {font-family: PT Sans, sans-serif; font-weight: bold; font-style: normal; line-height:1.2; color:#454545;}

h1{font-size:42px; margin:0 0 20px 0;}
h2{font-size:30px; margin:0 0 20px 0;}
h3{font-size:24px; margin:0 0 20px 0;}
h4{font-size:18px; margin:0 0 10px 0;}

p {font:normal 16px/1.4 PT Sans; margin:0 0 10px 0; color: #454545;}

ul {/*padding: 5px 20px;*/ /*list-style: disc; */margin:0 0 5px 0; padding: 5px 0;}
ol {padding: 0 5px 10px 30px; margin:0 0 5px 0; list-style:decimal;}
ul li, ol li {font: normal 16px/1.4 PT Sans; margin:0 0 5px 0; color: #454545;}
ul li:before {content: ' '; width: 6px; height: 6px; background: #DD3B83; display: inline-block; zoom: 1; *display: inline; margin-right: 10px; vertical-align: top; margin-top: 8px; border-radius: 50%;}

*::-webkit-input-placeholder {color: #999;opacity: 1;}
*:-moz-placeholder {color: #999; opacity: 1;}
*::-moz-placeholder {color: #999; opacity: 1;}
*:-ms-input-placeholder {color: #999; opacity: 1;}

/* text */
.text-left {text-align:left;}
.text-right {text-align:right;}
.text-center {text-align:center;}
.text-normal {font-weight:normal;}
.text-light {font-weight:300;}
.text-medium {font-weight:600;}
.text-bold {font-weight:bold;}
.font-big {font-size: 20px;}
.font-medium {font-size: 18px;}
.font-normal {font-size: 14px;}
.font-small {font-size: 12px;}
.no-transform {text-transform: none;}
.no-decor {text-decoration: none;}
.no-decor-hover:hover {text-decoration: none;}
.text-transform {text-transform: uppercase;}


.auto-center {margin: 0 auto;}

.black {color: #000;}
.grey {color:#999;}
.dark-grey {color:#505050;}
.bg-grey {background: #EEEEEE;}
.bg-dark-grey {background: #343434;}
.bg-white {background: #FFF;}
.bg-blue {background: #EEFAFE;}
.bg-dark-blue {background: #333F79;}
.white {color: #fff;}
.green {color: #349200;}
.pink {color: #DD3A83}

.pos-rel {position: relative;}

.clear {clear: both; width: 100%; height:0; margin:0; padding:0; float:none; *zoom: 1;}
.centered {width:940px; padding:0 30px; margin: 0 auto; position: relative;} 
.oh {overflow:hidden;}
.fl-l {float:left;}
.fl-r {float:right;}

/* margin & paddings */
.m0 {margin: 0;}

.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt25 {margin-top:25px;}
.mt30 {margin-top:30px;}
.mt35 {margin-top:35px;}
.mt40 {margin-top:40px;}
.mt45 {margin-top:45px;}
.mt50 {margin-top:50px;}
.mt60 {margin-top:60px;}
.mt70 {margin-top:70px;}
.mt80 {margin-top:80px;}
.mt90 {margin-top:90px;}
.mt100 {margin-top:100px;}

.mb0 {margin-bottom:0px;}
.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px;}
.mb40 {margin-bottom:40px;}
.mb45 {margin-bottom:45px;}
.mb50 {margin-bottom:50px;}
.mb60 {margin-bottom:60px;}
.mb70 {margin-bottom:70px;}
.mb80 {margin-bottom:80px;}
.mb90 {margin-bottom:90px;}
.mb100 {margin-bottom:100px;}

.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}
.ml30 {margin-left: 30px;}
.ml35 {margin-left: 35px;}
.ml40 {margin-left: 40px;}
.ml45 {margin-left: 45px;}
.ml50 {margin-left: 50px;}
.ml100 {margin-left: 100px;}

.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}
.mr30 {margin-right: 30px;}
.mr35 {margin-right: 35px;}
.mr40 {margin-right: 40px;}
.mr45 {margin-right: 45px;}
.mr50 {margin-right: 50px;}
.mr100 {margin-right: 100px;}

.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt25 {padding-top:25px;}
.pt30 {padding-top:30px;}
.pt35 {padding-top:35px;}
.pt40 {padding-top:40px;}
.pt45 {padding-top:45px;}
.pt50 {padding-top:50px;}
.pt60 {padding-top:60px;}
.pt70 {padding-top:70px;}
.pt80 {padding-top:80px;}
.pt90 {padding-top:90px;}
.pt100 {padding-top:100px;}

.pb5 {padding-bottom:10px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb25 {padding-bottom:25px;}
.pb30 {padding-bottom:30px;}
.pb35 {padding-bottom:35px;}
.pb40 {padding-bottom:40px;}
.pb45 {padding-bottom:45px;}
.pb50 {padding-bottom:50px;}
.pb100 {padding-bottom:100px;}

.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl35 {padding-left:35px;}
.pl40 {padding-left:40px;}
.pl45 {padding-left:45px;}
.pl50 {padding-left:50px;}
.pl100 {padding-left:100px;}

.pr5 {padding-right:5px;}
.pr10 {padding-right:10px;}
.pr15 {padding-right:15px;}
.pr20 {padding-right:20px;}
.pr25 {padding-right:25px;}
.pr30 {padding-right:30px;}
.pr35 {padding-right:35px;}
.pr40 {padding-right:40px;}
.pr45 {padding-right:45px;}
.pr50 {padding-right:50px;}
.pr100 {padding-right:100px;}


.p5 {padding:10px;}
.p10 {padding:10px;}
.p15 {padding:15px;}
.p20 {padding:20px;}
.p30 {padding:30px;}
.p40 {padding:40px;}
.p50 {padding:50px;}

/* layout & columns*/

.layout.w540 .l-col {width:540px; float:left;}
.layout.w540 .r-col {width:380px; float:right;}

.layout.w220 .l-col {width:220px; float:left;}
.layout.w220 .r-col {width:700px; float:right;}

.layout.w220.inner .l-col {width:220px; float:left;}
.layout.w220.inner .r-col {width:690px; float:right;}

.layout.w680 .l-col {width:220px; float:left;}
.layout.w680 .r-col {width:680px; float:right;}

.layout.w220i .l-col {width:700px; float:left;}
.layout.w220i .r-col {width:220px; float:right;}

.layout.w300 .l-col {width:300px; float:left;}
.layout.w300 .r-col {width:620px; float:right;}

.layout.w300i .l-col {width:620px; float:left;}
.layout.w300i .r-col {width:300px; float:right;}

.layout.w600 .l-col {width:600px; float:left;}
.layout.w600 .r-col {width:300px; float:right;}

/* Колонки равной ширины */

.cols > dl {margin:0 0 0 -20px;}
.cols > dl > dt {float:left; margin:0 0 20px 20px;}/* margin:0 0 20px 20px;*/
.cols2 > dl > dt {width:460px;} 
.cols3 > dl > dt {width:300px;}
.cols4 > dl > dt {width:215px;}
.cols5 > dl > dt {width:172px;}
.cols6 > dl > dt {width:140px;}

/* Ширина в процентах */

.w20 {width:19.99%;}
.w25 {width:24.99%;}
.w30 {width:29.99%;}
.w33 {width:33.33%;}
.w40 {width:39.99%;}
.w50 {width:49.99%;}
.w60 {width:59.99%;}
.w70 {width:69.99%;}
.w75 {width:74.99%;}
.w80 {width:79.99%;}
.w100 {width:100%;}

/* текст по центру с бордером по краям */

.bordered {position: relative; overflow: hidden; font: normal 30px Open Sans; text-align: center;}
.bordered > span {display: inline-block; margin: 0 .4em;}
.bordered > span:before,
.bordered > span:after {content: ''; position: absolute; width: 100%; border-top: 1px solid #ddd; margin-top: .9em;}
.bordered > span:before {margin-left: -100%;}
.bordered > span:after {margin-left: 0;}

.bordered2 {overflow: hidden; position: relative; margin: 0 0 10px 0; text-align: center;}
.bordered2:before {content: ''; position: relative; display: inline-block; vertical-align: middle; width: 50%; height: 5px; top: 2px; border-bottom: 1px solid #000; border-top: 1px solid #000;}
.bordered2:after {content: ''; position: relative; display: inline-block; vertical-align: middle; width: 50%; height: 5px; top: 2px; border-bottom: 1px solid #000; border-top: 1px solid #000;}
.bordered2:before {left: -.5em; margin-left: -50%;}
.bordered2:after {left: .5em;margin-right: -50%;}
.bordered2 span {display: inline-block; vertical-align: middle; white-space: normal; margin: 0 .2em; max-width: 70%; font: normal 42px Open Sans;}

.bordered2.black:before {border-color: #000;}
.bordered2.black:after {border-color: #000;}
.bordered2.black span {border-color: #000;}

.bordered2.small span {font-size: 30px;}

.inbordered {position: relative; overflow: hidden; font: normal 24px Open Sans; color: #000;}
.inbordered:after {content: ''; position: absolute;  width: 100%; border-top: 1px solid #DDD; margin-top: .8em; margin-left: .4em;}

/**/

.br5 {border-radius: 5px;}
.br10 {border-radius: 10px;}
.br20 {border-radius: 20px;}
.border-dashed {border: 1px dashed #0078C0;}
.b-dotted {border-bottom: 1px dotted #000;}
.t-dotted {border-top: 1px dotted #000;}
.b-border {border-bottom: 1px solid #ccc;}
.t-border {border-top: 1px solid #ccc;}
.border {border: 1px solid #DE227D;}

/* прибитый footer */

#container {position: relative;  min-height: 100%; height: auto !important; height: 100%; margin: 0 0 -280px 0; padding: 0;}
#content {position: relative;} 
.footer-push {height: 280px; margin: 0; padding: 0;}

/**/
