.select-box {
	position: relative;
}
.dropcontainer {
	position: absolute;
	right: 0;
	top: 30px;
	width: 168px;
	z-index: 1;
} 
.mainpage .dropcontainer {
	background: #fff;
}
.trigger {
	position: relative;
	height: 30px;
	line-height: 28px;
	color: #3F344C;
	text-decoration: none;
	font-size: 14px;
	width: 168px;
	padding-left: 12px;
	display: inline-block;
	border-radius: 4px;
	vertical-align: middle;
	border: 1px solid #e0d8d9;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-transform: lowercase;
}
.trigger:hover {
	color: #3F344C;
	text-decoration: none;
	background: #fff;
}
.trigger:after {
	content: '';
	display: block;
	width: 12px;
	height: 6px;
	background: url(../img/trigger.png);
	position: absolute;
	top: 12px;
	right: 10px;
}

.activetrigger {
	position: relative;
	height: 30px;
	line-height: 28px;
	color: #3F344C !important;
	text-decoration: none !important;
	font-size: 14px;
	width: 168px;
	padding-left: 12px;
	display: inline-block;
	border-radius: 4px;
	vertical-align: middle;
	border: 1px solid #e0d8d9;
	text-transform: lowercase;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.activetrigger:after {
	content: '';
	display: block;
	width: 12px;
	height: 6px;
	background: url(../img/trigger.png);
	position: absolute;
	top: 12px;
	right: 10px;
}
.dropcontainer ul {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #e0d8d9;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.dropcontainer li {
	padding: 0;
	margin: 0;
}
.dropcontainer li:before {
	display: none;
}
.dropcontainer a {
	height: 30px;
	line-height: 30px;
	color: #3F334C;
	text-decoration: none;
	padding-left: 21px;
	display: block;
	font-size: 14px;
}
.dropcontainer a:hover {
	background: #3F354C;
	color: #fff;
}
.dropdownhidden {
	display: none;
}

.dropdownvisible {
	height: auto;
}