.btn a {
	display: inline-block;
	zoom: 1;
*display: inline;
	font: bold 14px PT Sans;
	color: #212121;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 30px;
	text-decoration: none;
}
.btn a:hover {
	border-color: #DD127A;
	color: #DD127A;
}
.btn a:active {
	border-color: #FF7BB3;
	color: #fff;
	background: #FF7BB3;
}
.btn.add a {
	padding: 2px 10px;
}
.btn.pink a {
	background: #DD227D;
	border-color: #DD227D;
	color: #fff;
}
.btn.pink a:hover {
	border-color: #DD127A;
	color: #DD127A;
	background: #fff;
}
.btn.pink a:active {
	border-color: #FF7BB3;
	color: #fff;
	background: #FF7BB3;
}
.btn.pink input[type=submit] {
	background: #DD227D;
	border: 1px solid #DD227D;
	color: #fff;
	width: 200px;
	height: 34px;
}
.btn.pink input[type=submit]:hover {
	border-color: #DD127A;
	color: #DD127A;
	background: #fff;
}
.btn.pink input[type=submit]:active {
	border-color: #FF7BB3;
	color: #fff;
	background: #FF7BB3;
	padding: 0;
	margin: 0;
}
#header .top-line {
	height: 40px;
	background: #40364B;
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0px;
	left: 0px;
}
#header .top-line:before {
	content: ' ';
	width: 100%;
	height: 3px;
	position: absolute;
	bottom: -3px;
	left: 0;
	z-index: 1;
	background: rgb(228,241,255); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(228,241,255,1) 0%, rgba(221,34,125,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(228,241,255,1)), color-stop(100%, rgba(221,34,125,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(228,241,255,1) 0%, rgba(221,34,125,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(228,241,255,1) 0%, rgba(221,34,125,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(228,241,255,1) 0%, rgba(221,34,125,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(228,241,255,1) 0%, rgba(221,34,125,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1ff', endColorstr='#dd227d', GradientType=1 ); /* IE6-9 */
}
#header .navi {
	height: 40px;
}
#header .navi > dl {
	margin-left: -20px;
}
#header .navi > dl > dt {
	float: left;
	position: relative;
}
#header .navi > dl > dt > a {
	display: block;
	padding: 0 20px;
	font: normal 14px/40px PT Sans;
	color: #fff;
	text-decoration: none;
}
#header .navi > dl > dt:hover > a {
	background: #E4F1FE;
	color: #222222;
}
#header .navi > dl > dt > a.active {
	background: #E4F1FE;
	color: #222222;
}
/*#header .navi > dl > dt:hover .lv2 {display: block;} --menu-aim solution used instead */
#header .navi .lv2 {/*position: absolute;*/
	top: 40px;
	left: 0;
	background: #E4F1FE;
	padding: 15px;
	display: none;
	z-index: 100;
}
#header .navi .lv2 dl dt {
	margin-bottom: 5px;
}
#header .navi .lv2 a {
	white-space: nowrap;
	font: normal 14px PT Sans;
	color: #202020;
	text-decoration: none;
}
#header .navi .lv2 a:hover {
	text-decoration: underline;
}
#header .btn-appl a {
	display: inline-block;
	zoom: 1;
*display: inline;
	font: bold 14px/40px PT Sans;
	background: #DD227D;
	height: 40px;
	padding: 0 15px;
	text-decoration: none;
	color: #fff;
}
#header .btn-appl a:hover {
	background: #FF7BB3;
}
#header .bottom-line {
	height: 140px;
	padding-top: 40px;
}
#header .bottom-line .logo {
	margin-top: 23px;
}
#header .bottom-line .logo .title {
	font: normal 14px/1.2 PT Sans;
	color: #1F1F1F;
	margin-top: 10px;
}
#header .bottom-line .phone {
	margin-left: 40px;
}
#header .bottom-line .phone .number {
	font: normal 21px/1.2 PT Sans;
	color: #1F1F26;
}
#header .bottom-line .phone .number span {
	color: #999;
}
#header .bottom-line .helper {
	font: normal 14px PT Sans;
	color: #999;
}
#header .bottom-line .magazine a {
	font: normal 21px/1.2 PT Sans;
	color: #DD2C7F;
}
#header .bottom-line .icon {
	margin-top: 38px;
	padding-left: 53px;
	background: url(/img/header-bottom-line-icon.png) no-repeat;
}
#header .bottom-line .icon.phone {
	background-position: -63px 5px;
}
#header .bottom-line .icon.magazine {
	background-position: 0 -54px;
}
.promo {
	width: 100%;
	height: 600px;
	background: url(/img/promo.jpg) no-repeat center center;
}
.promo .text {
	width: 540px;
	padding-top: 70px;
}/*70px*/
.promo .text .title {
	font: bold 60px/1.2 PT Sans;
	color: #fff;
}
.promo .text .sub-title {
	font: 300 24px/1.3 Open Sans;
	color: #fff;
	margin-bottom: 15px;
}/*50px*/
.promo .text .list-menu {
	margin-left: -50px;
}
.promo .text .list-menu .item {
	display: inline-block;
	zoom: 1;
*display: inline;
	vertical-align: top;
	margin-left: 50px;
}
.promo .text .list-menu .title {
	font: bold 21px/1.2 PT Sans;
	margin-bottom: 10px;
	margin-top: 10px;
}
.promo .text .list-menu .title a {
	color: #fff;
	background: url(/img/list-menu-icon.png) no-repeat;
	padding-left: 35px;
	padding-top: 3px;
	padding-bottom: 4px;
	text-decoration: underline;
}
.promo .text .list-menu .title.salon a {
	background-position: -88px 0;
}
.promo .text .list-menu .title.center a {
	background-position: -44px -50px;
}
.promo .text .list-menu .title.magazine a {
	background-position: 0 -95px;
}
.promo .text .list-menu dl dt {
	margin-bottom: 3px;
}
.promo .text .list-menu dl dt a {
	color: #E2C4E2;
	font: normal 16px PT Sans;
	text-decoration: underline;
}
.gradient {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,241,254,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(228,241,254,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,241,254,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,241,254,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(228,241,254,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(228,241,254,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e4f1fe', GradientType=0 ); /* IE6-9 */
}
.item-news .img {
	margin-bottom: 10px;
}
.item-news .img img {
	max-width: 300px;
}
.item-news .title {
	margin-bottom: 5px;
}
.item-news .title a {
	font: normal 16px/1.2 PT Sans;
	color: #454545;
}
.item-news .title a:hover {
	text-decoration: underline;
}
.item-news .date {
	font: normal 14px PT Sans;
	color: #999999;
}
.link-magazine {
	position: relative;
}
.link-magazine .text {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	height: auto;
	margin-top: -25px;
}
.link-magazine .text p {
	margin-bottom: 5px;
	color: #fff;
}
.w1000 {
	width: 1000px;
}
.gallery {
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.16);
}
.carousel dl dt {
	margin-bottom: 0;
}
.carousel .bx-controls .bx-controls-direction a {
	display: block;
	width: 34px;
	height: 34px;
	background: url(/img/carousel-navi.png) no-repeat;
	position: absolute;
	top: 50%;
	margin-top: -17px;
}
.carousel .bx-controls .bx-controls-direction .bx-prev {
	background-position: 0 0;
	left: 10px;
}
.carousel .bx-controls .bx-controls-direction .bx-prev:hover {
	background-position: 0 -50px;
}
.carousel .bx-controls .bx-controls-direction .bx-next {
	background-position: -54px 0;
	right: 10px;
}
.carousel .bx-controls .bx-controls-direction .bx-next:hover {
	background-position: -54px -50px;
}
.advantages-list dl dt {
	padding-left: 55px;
	background: url(/img/advantages-list.png) no-repeat;
	width: 245px;
	font: normal 18px PT Sans;
	color: #454545;
	min-height: 50px;
}
.advantages-list .a1 {
	background-position: -228px 3px;
}
.advantages-list .a2 {
	background-position: -178px -61px;
}
.advantages-list .a3 {
	background-position: -117px -127px;
}
.advantages-list .a4 {
	background-position: -60px -192px;
}
.advantages-list .a5 {
	background-position: 0 -257px;
}
.b-about .text {
	width: 260px;
	border: 3px solid #DD227D;
	padding: 30px 10px;
	background: rgba(0, 0, 0, 0.7);
	margin: 0 auto;
	text-align: center;
	position: relative;
	z-index: 10;
	top: 42px;
}/*  added  top: 42px;*/  /*width: 244px;  background: #fff;*/
.b-about .text p {
	font: italic 21px PT Sans;
	color: #FFF;
}/*color: #999;*/
.b-about .img {
	position: relative;
	z-index: 1;
	margin-top: -50%;
}/*margin-top: -50px;*/
#footer {
	height: 280px;
	border-top: 1px solid #ddd;
}
#footer .logo {
	width: 210px;
	margin-top: 30px;
	display: inline-block;
	zoom: 1;
*display: inline;
	vertical-align: top;
}
#footer .logo .title {
	font: italic 18px/1.2 PT Sans;
	color: #1F1F1F;
}
#footer .top-line {
	height: 220px;
}
#footer .menu-list .item {
	display: inline-block;
	zoom: 1;
*display: inline;
	vertical-align: top;
	margin-top: 40px;
	margin-left: 35px;
}
#footer .menu-list .item dl dt {
	margin-bottom: 3px;
}
#footer .menu-list .item .title a {
	text-transform: uppercase;
	font: bold 16px PT Sans;
	color: #212121;
}
#footer .menu-list .item dl dt a {
	font: normal 14px PT Sans;
	color: #212121;
}
#footer .gp a {
	font: normal 14px PT Sans;
	color: #1F1F1F;
	margin-right: 20px;
}
.soc-btn a {
	display: inline-block;
	zoom: 1;
*display: inline;
	vertical-align: top;
	background: url(/img/soc-icon.png) no-repeat;
	width: 30px;
	height: 30px;
	margin-right: 5px;
}
.soc-btn .fb {
	background-position: 0 0;
}
.soc-btn .vk {
	background-position: -40px 0;
}
.soc-btn .ok {
	background-position: -80px 0;
}
/**/

.head {
	background: url(/img/head.jpg) no-repeat center center;
	width: 100%;
	height: 188px;
	text-align: center;
	padding-top: 50px;
	margin-bottom: 10px;
}
.head .title {
	font: bold 42px PT Sans;
	color: #fff;
	margin-bottom: 20px;
}
.head .title:after {
	content: ' ';
	width: 85px;
	height: 2px;
	background: #fff;
	margin: 10px auto 0 auto;
	display: block;
}
.head p {
	font: italic 18px PT Sans;
	color: #fff;
}
.v-navi {
	margin-bottom: 30px;
}
.v-navi dl dt a {
	font: normal 18px PT Sans;
}
.v-navi dl dt a.active {
	color: #454545;
	padding-left: 15px;
	background: url(/img/v-navi-conus.png) no-repeat left 5px;
}
.v-navi dl dt {
	margin-bottom: 5px;
}
/*.b-gallery dl dt {height: 293px;}*/
.b-gallery dl dt.preview {
	width: 685px;
	margin: 0 0 20px 20px;
}
.b-gallery .info {
	background: #eee;
	text-align: center;
	margin: 0 0 20px 10px;
}
.b-gallery .info span {
	display: block;
}
.b-gallery .info .big {
	font-size: 42px;
}
.b-gallery .info .small {
	font-size: 18px;
}
.b-gallery .info .b-border {
	border-bottom: 2px solid #454545;
}
.service-list dl {
	margin-left: -20px;
}
.service-list dl dt {
	margin-bottom: 20px;
	margin-left: 20px;
	width: 460px;
}
.service-list .item {
	background: #fff;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.16);
}
.service-list .title {
	font-size: 24px;
}
.service-list ul li a {
	color: #454545;
	font-size: 18px;
	border-bottom: 1px dotted #454545;
	position: relative;
	cursor: pointer;
}
.service-list ul li a:hover {
	border-bottom: 1px dotted #DD3B83;
	text-decoration: none;
	color: #DD3B83;
}
.service-list dl dt a:hover .tooltips {
	display: block;
}
.service-list .tooltips {
	position: absolute;
	bottom: 130%;
	left: 50px;
	background: #40364B;
	width: 200px;
	color: #fff;
	font-size: 14px;
	z-index: 10;
	padding: 10px;
	display: none;
}
.service-list .tooltips span {
	position: absolute;
	width: 14px;
	height: 10px;
	background: url(/img/conus.png) no-repeat;
	bottom: -20px;
	left: 20px;
}
/*
table tr td:hover .tooltips {display: block; cursor: pointer;}
table tr:hover {border: 1px solid #DD227D;}
table tr.subsection:hover {border: none;}
table tr td .tooltips {width: 450px; padding: 10px; display: none; color: #454545; font-weight: normal;}
td.services{text-decoration: none; color: #454545;}
td.services:hover {text-decoration: none; color: #DD2C7F; font-weight: bold; cursor: pointer;}
table tr:hover .services{color: #DD2C7F; font-weight: bold;}
*/
/**/

#header.inner {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.21);
}
/*
table {margin-bottom: 20px;}
table tr {background: #fff;}
table tr td {padding: 10px; font-size: 16px; color: #454545;}
table tr:nth-of-type(2n+1) {background: #F0F2F6;}
table tr.subsection {background: #40364B;}
/*table tr.subsection td{font-weight: bold; color: white;}*/
/*table tr.subsection td a{font-weight: bold; color: white;}
table tr td.pr {width: 110px; text-align: right;}
table tr.empty{height: 40px;}
/**/

#header .bottom-line .basket-info a {
	color: #454545;
	text-decoration: none;
	display: block;
}
#header .bottom-line .basket-info .title {
	font-size: 24px;
	line-height: 1;
	border-bottom: 1px solid #fff;
}
#header .bottom-line .basket-info a:hover .title {
	border-bottom: 1px solid #454545;
}
.search {
	margin-top: 23px;
	margin-left: 40px;
}
.search input[type=text] {
	width: 353px;
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 0 35px 0 10px;
	font: normal 14px PT Sans;
	color: #999;
}
.search input[type=submit] {
	width: 16px;
	height: 16px;
	position: absolute;
	background: url(/img/search-icon.png) no-repeat;
	border: none;
	position: absolute;
	right: 10px;
	top: 8px;
}
.search:hover .search-result {
	display: block;
}
.search .search-result {
	position: absolute;
	top: 28px;
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	width: 398px;
	border-radius: 0 0 5px 5px;
	z-index: 10;
	display: none;
}
.search .search-result table {
	margin-bottom: 0;
}
.search .search-result table td {
	background: #fff;
	padding: 5px;
	font-size: 14px;
}
.search .search-result table tr td {
	border-bottom: 1px solid #E4F1FF;
}
.search .search-result table tr td:first-child {
	width: 75%;
}
.search .search-result table tr:last-child td {
	border-bottom: none;
}
.search .search-result tr td i {
	color: #999;
}
.search .search-result tr:hover td {
	background: #E4F1FF;
}
.search .search-result a {
	color: #454545;
	display: block;
}
.catalog-menu {
	height: 38px;
	background: #E4F1FE;
	margin-bottom: 20px;
}
.catalog-menu > dl > dt {
	float: left;
	position: relative;
}
.catalog-menu > dl > dt:hover .lv2 {
	display: block;
}
.catalog-menu > dl > dt > a {
	display: block;
	font: normal 16px/38px PT Sans;
	color: #202020;
	height: 38px;
	padding: 0 30px;
	position: relative;
}
.catalog-menu > dl > dt > a:hover {
	text-decoration: underline;
}
.catalog-menu > dl > dt > a.active {
	background: #DD3481;
	text-decoration: none;
	color: #fff;
}
.catalog-menu > dl > dt > a.active:before {
	background: none;
}
.catalog-menu > dl > dt > a:before {
	content: ' ';
	width: 1px;
	height: 19px;
	background: #40374C;
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -9px;
}
.catalog-menu > dl > dt:last-child a:before {
	background: none;
}
.catalog-menu .lv2 {
	position: absolute;
	left: 0;
	top: 38px;
	background: #fff;
	z-index: 100;
	width: 220px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.16);
	display: none;
}
.catalog-menu .lv2 > dl {
	padding: 12px 0;
}
.catalog-menu .lv2 > dl > dt {
	padding: 6px 10px;
}
.catalog-menu .lv2 > dl > dt:hover .lv3 {
	display: block;
}
.catalog-menu .lv2 > dl > dt > a {
	font: normal 16px/1.2 PT Sans;
	color: #3F374C;
	display: block;
	padding-right: 25px;
	background: url(/img/catalog-menu-tic.png) no-repeat right 5px;
}
.catalog-menu .lv2 > dl > dt:hover > a {
	background-position: right -57px;
	text-decoration: none;
	color: #DD2C7F;
}
.catalog-menu .conus {
	display: none;
	width: 18px;
	height: 9px;
	background: url(/img/conus-white.png) no-repeat;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -9px;
	z-index: 10;
}
.catalog-menu > dl > dt:hover .conus {
	display: block;
}
.catalog-menu .lv3 {
	position: absolute;
	left: 219px;
	min-height: 100%;
	top: 0px;
	background: #fff;
	z-index: 100;
	width: 719px;
	border-left: 1px solid #DDD;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.21);
	display: none;
}
.catalog-menu .lv3 dl {
	margin-left: -20px;
}
.catalog-menu .lv3 dl > dt {
	width: 200px;
	float: left;
	margin-left: 20px;
}
.catalog-menu .lv3 .title {
	font: normal 21px PT Sans;
	color: #DD2C7F;
}
.catalog-menu .lv3 .col {
	margin-bottom: 10px;
}
.catalog-menu .lv3 .col dt {
	margin-bottom: 5px;
}
.catalog-menu .lv3 a {
	font: normal 14px/1.2 PT Sans;
	color: #666;
}
.breadcrumbs {
	margin-bottom: 20px;
}
.breadcrumbs a {
	font: normal 12px PT Sans;
	color: #999;
}
.breadcrumbs a:last-child {
	color: #454545;
}
.breadcrumbs span {
	font: normal 12px PT Sans;
	color: #999;
	margin: 0 5px;
}
.catalog-list {
	margin-bottom: 20px;
}
.catalog-list dl dt {
	border: 1px solid #ddd;
	width: 218px;
	height: 220px;
	text-align: center;
}
.catalog-list dl dt:hover {
	border-color: #DD3481;
}
.catalog-list dl dt a {
	display: block;
	padding: 20px 10px;
	height: 180px;
	font: normal 18px PT Sans;
	color: #3F374C;
}
.catalog-list dl dt a:hover {
	color: #DD3481;
}
.catalog-list dl dt span {
	display: block;
}
.h-border {
	position: relative;
	overflow: hidden;
	font-family: 'PT Sans', sans-serif;
	font-size: 24px;
	font-weight: normal;
}
.h-border:after {
	content: '';
	position: absolute;
	width: 100%;
	border-top: 2px solid #4e4e4e;
	margin-top: .6em;
	margin-left: .4em;
}
.item-card dl dt {
	height: 295px;
	position: relative;
}
.item-card .border {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #fff;
	padding: 10px;
	top: -10px;
	left: -10px;
	z-index: 1;
}
.item-card dl dt:hover .border {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	border: 1px solid #E4F1FF;
	padding: 10px;
	top: -10px;
	left: -10px;
	z-index: 1;
}
.item-card .wrapper {
	position: relative;
	z-index: 10;
}
.item-card .title {
	font: normal 14px/1.2 PT Sans;
	height: 52px;
	overflow: hidden;
}
.item-card .company {
	font: italic 14px/1.2 PT Sans;
	margin-bottom: 5px;
}
.item-card .unit {
	font: normal 14px/1.2 PT Sans;
	color: #666;
}
.item-card .cost span {
	font: bold 16px/1.2 PT Sans;
	color: #454545;
}
.item-card .cost .old {
	font: normal 14px/1.2 PT Sans;
	color: #999;
	margin-right: 5px;
	text-decoration: line-through;
}
.item-card .img {
	margin-bottom: 5px;
	margin-top: 20px;
}
.item-card .tic {
	position: absolute;
	top: 0;
	left: 0;
	background: #40374C;
	color: #fff;
	font: bold 13px PT Sans;
	padding: 2px 5px;
	z-index: 50;
}
.item-card .qnt {
	display: none;
}
.item-card .btn {
	display: none;
}
.item-card .added {
	display: block;
}
.item-card .added a {
	background: #00B200;
	border-color: #00B200;
}
.item-card dl dt:hover .qnt {
	display: block;
}
.item-card dl dt:hover .btn {
	display: block;
}
.qnt {
	width: 78px;
	height: 22px;
	background: #DDD;
	border-radius: 3px;
	text-align: center;
}
.qnt a {
	width: 23px;
	height: 22px;
	display: inline-block;
	vertical-align: top;
	background-image: url(/img/qnt.png);
	background-repeat: no-repeat;
}
.qnt a.minus {
	float: left;
	background-position: center 10px;
	border-radius: 3px 0 0 3px;
}
.qnt a.minus:hover {
	background-position: center -42px;
	background-color: #40374C;
}
.qnt a.plus {
	float: right;
	background-position: center -16px;
	border-radius: 0 3px 3px 0;
}
.qnt a.plus:hover {
	background-position: center -67px;
	background-color: #40374C;
}
.qnt input[type="text"] {
	width: 30px;
	height: 20px;
	background: #fff;
	border: 1px solid #ccc;
	padding: 0;
	text-align: center;
	font: normal 14px/22px PT Sans;
}
.carousel-new {
	position: relative;
}
.carousel-new .bx-viewport {
	padding: 15px 20px;
	margin-left: -20px;
}
.carousel-new .bx-controls {
	position: absolute;
	top: 0;
	right: 0;
	width: 88px;
	height: 34px;
	background: #fff;
}
.carousel-new .bx-controls .bx-controls-direction a {
	display: inline-block;
	zoom: 1;
*display: inline;
	width: 34px;
	height: 34px;
	background: url(/img/carousel-navi-inner.png) no-repeat;
	margin-left: 10px;
}
.carousel-new .bx-controls .bx-controls-direction .bx-prev {
	background-position: 0 0;
}
.carousel-new .bx-controls .bx-controls-direction .bx-prev:hover {
	background-position: 0 -54px;
}
.carousel-new .bx-controls .bx-controls-direction .bx-next {
	background-position: -54px 0;
}
.carousel-new .bx-controls .bx-controls-direction .bx-next:hover {
	background-position: -54px -54px;
}
.brand dl dt {
	width: 218px;
	height: 98px;
	border: 1px solid #ddd;
	text-align: center;
	display: table;
}
.brand dl dt a {
	display: table-cell;
	vertical-align: middle;
}
.sub-title {
	font-family: Open Sans;
	font-weight: 300;
}
/**/

.v-menu {
	margin-bottom: 30px;
}
.v-menu dl {
	margin-bottom: 20px;
}
.v-menu dl dt a {
	font: normal 14px PT Sans;
	color: #454545;
}
.v-menu dl dt a.active {
	font-weight: bold;
	color: #DD227D;
}
.v-menu dl dt {
	margin-bottom: 3px;
}
.v-menu dl dt dl {
	margin-left: 10px;
}
.sorter {
	margin-bottom: 20px;
}
.sorter p {
	font-size: 14px;
	line-height: 1;
}
.sorter span {
	font-weight: bold;
	color: #999;
	border-bottom: 1px dotted #999;
	display: inline-block;
	zoom: 1;
*display: inline;
	vertical-align: top;
}
.sorter a:hover span {
	border-color: #DD4687;
	color: #DD4687;
	text-decoration: none;
}
.sorter a {
	padding-right: 10px;
	margin-left: 20px;
}
.sorter a.down {
	background: url(/img/sorter.png) no-repeat right 7px;
	color: #DD4687;
	border-color: #DD4687;
}
.sorter a.down span {
	color: #DD4687;
	border-color: #DD4687;
}
.sorter a.up {
	background: url(/img/sorter.png) no-repeat right -16px;
	color: #DD4687;
	border-color: #DD4687;
}
.sorter a.up span {
	color: #DD4687;
	border-color: #DD4687;
}
.item-card.inner dl dt {
	margin-bottom: 30px;
}
.paginators {
	text-align: center;
}
.paginators a {
	display: inline-block;
	zoom: 1;
*display: inline;
	vertical-align: top;
	width: 34px;
	height: 34px;
	color: #40384D;
	font: normal 18px/36px PT Sans;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #fff;
}
.paginators a.active {
	background: #40374C;
	color: #fff;
}
.paginators a:hover {
	border-color: #40374C;
	text-decoration: none;
}
.tovar .bxslider {
	text-align: center;
}
.tovar .preview {
	margin-top: 20px;
}
.tovar .preview a {
	width: 138px;
	height: 138px;
	border: 1px solid #fff;
	margin-bottom: 20px;
	margin-left: 15px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.tovar .preview a.active {
	border: 1px solid #ddd;
}
.tovar .bx-controls {
	display: none;
}
.tovar .description {
	margin-bottom: 20px;
}
.tovar .description .left {
	width: 380px;
}
.tovar .description .left .decor {
	text-decoration: underline;
}
.tovar .description .right {
	width: 220px;
}
.tovar .description .cost-info {
	background: #E4F1FE;
	border: 1px solid #ddd;
	padding: 20px 40px;
}
.tovar .description .cost-info .old-cost {
	font-size: 18px;
	color: #999;
	text-decoration: line-through;
}
.tovar .description .cost-info .new-cost {
	font-size: 24px;
	font-weight: bold;
}
.tovar .description .cost-info .unit {
	font-size: 14px;
}
.tovar .description .qnt {
	width: 140px;
	height: 40px;
}
.tovar .description .qnt input[type=text] {
	width: 58px;
	height: 38px;
	font-size: 16px;
}
.tovar .description .qnt a {
	height: 40px;
	width: 40px;
}
.tovar .description .qnt .minus {
	background-position: center 20px;
}
.tovar .description .qnt .minus:hover {
	background-position: center -32px;
}
.tovar .description .qnt .plus {
	background-position: center -6px;
}
.tovar .description .qnt .plus:hover {
	background-position: center -58px;
}
/**/

.popup .modal-dialog {
	width: 460px;
}
.popup .modal-content {
	background: #40374C;
	padding: 5px;
}
.popup .modal-body {
	background: #EEE;
}
.popup dl {
	margin-left: -10px;
}
.popup dl dt {
	width: 200px;
	margin-left: 10px;
	margin-bottom: 15px;
	float: left;
	height: 34px;
}
.popup dl dt.radio {
	width: 409px;
	margin-left: 10px;
	margin-bottom: 15px;
	float: left;
	height: 68px;
}
.popup dl dt.textarea {
	width: 410px;
	height: auto;
}
.popup input[type=text] {
	width: 178px;
	height: 32px;
	border: 1px solid #ccc;
	padding: 0 10px;
	font: normal 14px/32px PT Sans;
}
.popup input[type=tel] {
	width: 178px;
	height: 32px;
	border: 1px solid #ccc;
	padding: 0 10px;
	font: normal 14px/32px PT Sans;
}
.popup input[type=tel].error {
	border-color: #fc0000;
}
.popup input[type=email] {
	width: 178px;
	height: 32px;
	border: 1px solid #ccc;
	padding: 0 10px;
	font: normal 14px/32px PT Sans;
}
.popup input[type=email].error {
	border-color: #fc0000;
}
.popup input[type=text]:focus {
	border-color: #999;
}
.popup input[type=text].error {
	border-color: #fc0000;
}
.popup input[type=text].date {
	background: url(/img/date-icon.png) no-repeat;
	width: 200px;
	height: 34px;
	border: none;
	cursor: pointer;
}
.popup input[type=text].date.error {
	background: url(/img/date-icon-error.png) no-repeat;
	width: 200px;
	height: 34px;
	border: none;
	cursor: pointer;
}
.popup .close {
	width: 15px;
	height: 15px;
	display: block;
	background: url(/img/close.png) no-repeat;
	position: absolute;
	top: 20px;
	right: 20px;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.popup .close:hover {
	background-position: 0 -35px;
}
.popup .close:active {
	background-position: 0 -69px;
}
.popup textarea {
	width: 398px;
	height: 100px;
	border: 1px solid #ccc;
	padding: 5px;
	resize: none;
}
.popup textarea:focus {
	border-color: #999;
}
.popup textarea.error {
	border-color: #fc0000;
}
.custom {
	width: 200px;
}
.jq-selectbox__select-text {
	width: 145px;
	height: 32px;
}
.jq-selectbox__select {
	border-radius: 0;
	background: #fff;
	box-shadow: none;
	border-color: #B3B3B3;
}
.jq-selectbox__select:hover {
	background-color: #fff;
}
.jq-selectbox__trigger-arrow {
	border-top-color: #000;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}
.jq-selectbox__trigger {
	background: #ddd;
}
.jq-selectbox li:before {
	background: none;
}
.jq-selectbox li:hover {
	background: #DD227D;
}
.jq-selectbox li {
	font-size: 14px;
}
.jq-selectbox__dropdown {
	border-radius: 0;
}
.jq-selectbox.focused .jq-selectbox__select {
	border-color: #999;
}
/**/

.basket tr:nth-of-type(2n+1) {
	background: #fff;
}
.basket tr th {
	padding: 10px;
	background: #fff;
	border-top: 1px solid #ddd;
}
.basket tr td {
	vertical-align: top;
	padding: 15px 10px;
	border-top: 1px solid #ddd;
	background: #fff;
}
.basket .col1 {
	width: 80px;
	padding: 15px 0;
}
.basket .col1 img {
	max-width: 80px;
}
.basket .col2 {
	width: 250px;
}
.basket .col2 a {
	font-size: 16px;
}
.basket .col3 {
	width: 98px;
}
.basket .col4 {
	width: 100px;
}
.basket .del {
	font-size: 13px;
	color: #666;
}
.order {
	background: #EEE;
	border: 1px solid #ddd;
	padding: 20px;
}
.order table {
	margin-bottom: 0;
}
.order tr:nth-of-type(2n+1) {
	background: none;
}
.order tr {
	background: none;
}
.order tr td.col1 {
	width: 100px;
	font-weight: bold;
	padding: 0;
}
.order tr td.col2 {
	width: 320px;
}
.order input {
	width: 298px;
	height: 32px;
	border: 1px solid #ccc;
	padding: 0 10px;
	font: normal 16px/32px PT Sans;
}
.order input:focus {
	outline: none;
	border-color: #666;
}
/**/

.b-shadow {/* Firefox v3.5+ */
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.16);
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.16);
	/* Firefox v4.0+ , Safari v5.1+ , Chrome v10.0+, IE v10+ and by Opera v10.5+ */
	box-shadow: 0px 1px 3px rgba(0,0,0,0.16);
	-ms-filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=1,Color=#29000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=1, Color=#29000000, Positive=true);
}
.item-news.inner dl dt {
	overflow: hidden;
	margin-bottom: 20px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 20px;
}
.item-news.inner .img {
	float: left;
	margin-bottom: 0;
	margin-right: 20px;
}
.item-news.inner .text {
	overflow: hidden;
}
.panel-default > .panel-heading {
	background-color: transparent;
	border: none;
}
.panel-group .panel {
	border: none;
	box-shadow: none;
}
.panel-heading {
	padding: 0;
	margin-bottom: 20px;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top: none;
	padding-top: 0;
}
.panel-title > a {
	font: normal 16px/1.2 PT Sans;
	color: #454545;
	text-decoration: none;
	border-bottom: 1px dotted #454545;
}
.panel-title > a:hover {
	color: #B9271F;
	border-color: #B9271F;
}
.panel-title > .collapsed {
	color: #DD2C7F;
	border-color: #DD2C7F;
}
.page404 {
	display: table;
	margin-top: 33px;
}
.page404 .text {
	display: table-cell;
	vertical-align: middle;
	padding-left: 30px;
}
.page404 .img {
	display: table-cell;
	vertical-align: middle;
}
#salon_gallery {
	width: 940px;
	margin: 0;
}
.gal {
	width: 215px !important;
	margin: 0 10px 20px 10px !important;
	float: left;
}
.select-container {
	width: 200px;
}
.error {
	border: 1px solid #fc0000;
}
/*.anchor{text-decoration: none; font-size: 16px; color: #454545;}
.anchor:hover{text-decoration: none; font-size: 16px; color: #454545;}*/


/*New Style*/
#newpromo {
	background: #f4f4f4;
}
#newpromo .item {
	position: relative;
}
#newpromo .owl-carousel {
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}
#newpromo .item:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../img/item.png);
	width: 380px;
	height: 302px;
	z-index: 100;
}
#newpromo span {
	display: block;
	width: 230px;
	position: absolute;
	left: 50px;
	top: 50px;
	font-size: 24px;
	color: #fff;
	z-index: 200;
}
#newpromo small {
	font-size: 21px;
	display: block;
	position: relative;
}
#newpromo small:before {
	content: '';
	display: block;
	margin: 20px 0;
	border-bottom: 2px solid #da2b7f;
	width: 50px;
}
#newpromo .owl-nav>div {
	position: absolute;
	left: 40px;
	bottom: 25px;
	font-size: 0;
	background: url(../img/prev.png);
	width: 36px;
	height: 36px;
	z-index: 300;
}
#newpromo .owl-nav>div.owl-next {
	left: 86px;
	background: url(../img/next.png);
}
#newpromo .owl-dots {
	text-align: center;
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
}
#newpromo .owl-dot {
	width: 14px;
	height: 14px;
	border: 1px solid #433952;
	display: inline-block;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#newpromo .owl-dot+.owl-dot {
	margin-left: 6px;
}
#newpromo .owl-dot.active, #newpromo .owl-dot:hover {
	border-color: #da2b7f;
	background: #da2b7f;
}
#header {
	border-bottom: 1px solid #f0f0f0;
}
#header .bottom-line.magazine {
	height: 80px;
	padding-top: 40px;
}
#header .bottom-line.magazine .phone {
	padding-top: 20px;
}
#header .bottom-line.magazine .phone .number {
	font-size: 16px;
	color: #3F344C;
	background-image: url(../img/phone.png);
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}
#header .bottom-line.magazine .phone .number a {
	color: #3F344C;
	text-decoration: none;
}
#header .bottom-line.magazine .logo {
	margin: 0 30px 0 0;
	padding: 17px 20px 17px 0;
	border-right: 1px solid #f0f0f0;
}
@-webkit-keyframes search-blinking {
 0% {
background: #f4f4f4;
}
 50% {
background: transparent;
}
 100% {
background: #f4f4f4;
}
}
@keyframes search-blinking {
 0% {
background: #f4f4f4;
}
 50% {
background: transparent;
}
 100% {
background: #f4f4f4;
}
}
@-webkit-keyframes search-shadow {
 0% {
box-shadow: 0px 0px 5px 0px rgba(219,36,130,0);
}
 100% {
box-shadow: 0px 0px 5px 0px rgba(219,36,130,0.2);
}
}
@keyframes search-shadow {
 0% {
box-shadow: 0px 0px 5px 0px rgba(219,36,130,0);
}
 100% {
box-shadow: 0px 0px 5px 0px rgba(219,36,130,0.2);
}
}
#header .search-mag {
	border-right: 1px solid #f0f0f0;
	margin-right: 30px;
	padding-right: 40px;
	padding-top: 20px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 1;
}
#header .search-mag .inner {
	position: relative;
}
#header .search-mag .caption {
	font-size: 11px;
	color: #666666;
	margin-bottom: 3px;
}
#header .search-mag .shadow {
	border-radius: 5px;
	webkit-animation: search-shadow 1s linear;
	animation: search-shadow 1s linear;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
#header .search-mag input[type="search"] {
	background-color: #f4f4f4;
	width: 300px;
	height: 30px;
	padding-left: 10px;
	padding-right: 30px;
	border: 1px solid #c6d4d4;
	border-radius: 5px;
	font-size: 13px;
	font-style: italic;
	color: #999999;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	webkit-animation: search-blinking 0.5s linear 0.5s;
	animation: search-blinking 0.5s linear 0.5s;
	-webkit-animation-iteration-count: 2;
	animation-iteration-count: 2;
}
#header .search-mag input[type="submit"] {
	background: url(../img/search.png) no-repeat center center;
	height: 30px;
	width: 30px;
	position: absolute;
	right: 0;
	bottom: 0;
	cursor: pointer;
	border: 0;
	outline: 0;
	font-size: 0;
}
#header .header-cart {
	border-left: 1px solid #f0f0f0;
	padding-top: 24px;
	padding-left: 50px;
	background: url(../img/cart.png) no-repeat 18px 35px;
	position: relative;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#header .header-cart a {
	color: #666666;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	display: block;
}
#header .header-cart a:hover {
	text-decoration: none;
	opacity: 0.7;
}
#header .header-cart span {
	display: block;
}
#header .header-cart .amount {
	position: absolute;
	left: 25px;
	top: 28px;
	color: #fff;
	background-color: #db237e;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #fff;
	border-radius: 50%;
}
#header .header-cart .cost {
	font-size: 16px;
	color: #3F344C;
	line-height: 16px;
}
#nav-magazine {
	background-color: #fff;
	font-family: 'Oranienbaum', serif;
	position: relative;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 17px 5px rgba(0,0,0,0.1);
}
.name-menu {
	font-size: 16px;
	color: ##3F354C;
	text-align: center;
	height: 20px;
	line-height: 24px;
	padding: 20px 0 10px;
	text-transform: uppercase;
}
.name-menu:before {
	content: '';
	display: inline-block;
	width: 26px;
	height: 20px;
	background-image: url(../img/nml.png);
	margin-right: 10px;
	vertical-align: top;
}
.name-menu:after {
	content: '';
	display: inline-block;
	width: 26px;
	height: 20px;
	background-image: url(../img/nmr.png);
	margin-left: 10px;
	vertical-align: top;
}
#nav-magazine ul {
	margin: 0;
	padding: 0;
}
#nav-magazine li {
	margin: 0px;
}
#nav-magazine li+li {
	border-top: 1px solid #e0d8d9;
}
#nav-magazine li:before {
	display: none;
}
#nav-magazine li>a {
	font-size: 18px;
	color: #3F344C;
	display: block;
	padding: 10px 15px;
	font-family: 'Oranienbaum', serif;
	text-decoration: none !important;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#nav-magazine a:hover {
	color: #fff !important;
	background: #3F354C !important;
	text-decoration: none !important;
}
#nav-magazine ul ul {
	height: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#nav-magazine ul ul.active {
	margin-bottom: 20px;
	opacity: 1;
	height: auto;
}
#nav-magazine ul ul li+li {
	border: 0;
}
#nav-magazine ul ul li>a {
	font-size: 14px;
	padding: 5px 10px 5px 30px;
	position: relative;
	font-family: 'Open Sans', sans-serif;
}
#nav-magazine ul ul li>a:hover, #nav-magazine ul ul li.active>a {
	background: transparent;
	color: #3F344C;
}
#nav-magazine ul ul li a:before {
	content: '';
	display: block;
	position: absolute;
	left: 15px;
	top: 11px;
	height: 8px;
	width: 8px;
	border: 1px solid #e1d9da;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 8px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#nav-magazine ul ul li a:hover:before, #nav-magazine ul ul li.active a:before {
	border-color: #40364c;
	background: #40364c
}
#nav-magazine ul dl {
	background-color: #fff;
	position: absolute;
	left: 220px;
	top: 0px;
	border-left: 1px solid #e0d8d9;
	z-index: 999;
	width: 320px;
	padding: 20px 0 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 10px 0px 17px 5px rgba(0,0,0,0.1);
	-moz-box-shadow: 10px 0px 17px 5px rgba(0,0,0,0.1);
	box-shadow: 10px 0px 17px 5px rgba(0,0,0,0.1);
	-webkit-transition: all 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
#nav-magazine ul li:hover dl {
	height: auto;
	min-height: 283px;
	opacity: 1;
	visibility: visible;
}
#nav-magazine ul dt {
	font-size: 16px;
	color: #3F344C;
	text-transform: uppercase;
	padding: 0 25px 5px;
	font-family: PT Sans, sans-serif;
}
#nav-magazine ul dl a {
	padding: 8px 25px;
	display: block;
	font-size: 14px;
	color: #3F4652;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#filter {
	border: 1px solid #e0d8d9;
	padding: 0 15px;
}
#filter .name {
	font-size: 18px;
	color: #333333;
	margin-bottom: 20px;
	font-family: 'Oranienbaum', serif;
}
#filter .title {
	font-family: 'Oranienbaum', serif;
	font-size: 16px;
	color: #3F354C;
	text-align: center;
	height: 20px;
	line-height: 24px;
	padding: 20px 0 30px;
	text-transform: uppercase;
}
#filter .title:before {
	content: '';
	display: inline-block;
	width: 26px;
	height: 20px;
	background-image: url(../img/nml.png);
	margin-right: 10px;
	vertical-align: top;
}
#filter .title:after {
	content: '';
	display: inline-block;
	width: 26px;
	height: 20px;
	background-image: url(../img/nmr.png);
	margin-left: 10px;
	vertical-align: top;
}
#filter #filter-slider {
	margin-bottom: 14px;
}
#filter .price {
	color: #333333;
	margin-bottom: 30px;
}
#filter .from {
	font-size: 13px;
	color: #333333;
	float: left;
}
#filter .to {
	font-size: 13px;
	color: #333333;
	float: right;
}
#filter .brand {
	padding-bottom: 10px;
}
#filter .brand input {
	display: none;
}
#filter .brand label {
	display: block;
	cursor: pointer;
	margin-bottom: 10px;
}
#filter .brand label:before {
	content: '';
	display: inline-block;
	height: 8px;
	width: 8px;
	border: 1px solid #e1d9da;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-right: 8px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#filter .brand input:checked+label:before {
	background: #db2482;
	border-color: #db2482;
}
#filter input[type="submit"], #filter a {
	display: block;
	width: 100%;
	font-size: 14px;
	background: #db237e;
	color: #fff;
	text-align: center;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
	border-radius: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 0;
	font-weight: normal;
	margin-bottom: 30px;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
#filter input[type="submit"]:hover {
	background-color: #40364e;
}
#slider-magazine {
	background-image: url(../img/rombs.jpg);
	height: 395px;
	padding-top: 44px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
#slider-magazine .slider {
	position: relative;
}
#slider-magazine .item {
	position: relative;
}
#slider-magazine .slide-desc {
	background-image: url(../img/sliderdesc.png);
	position: absolute;
	top: 0px;
	right: 0px;
	height: 300px;
	width: 220px;
	text-align: center;
	padding: 85px 15px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#slider-magazine .slide-desc span {
	display: block;
	background-color: #fff;
	position: absolute;
	left: 93px;
	top: 5px;
	line-height: 30px;
	height: 30px;
	font-size: 0;
	width: 30px;
	text-align: center;
	border-radius: 50%;
}
#slider-magazine .slide-desc img {
	vertical-align: middle;
	width: auto !important;
	height: auto !important;
	display: inline-block !important;
}
#slider-magazine .title {
	font-size: 30px;
	color: #fff;
	margin-bottom: 15px;
}
#slider-magazine .text {
	font-size: 14px;
	color: #fff;
	margin-bottom: 20px;
}
#slider-magazine .text:before {
	content: '';
	height: 1px;
	width: 44px;
	background: #fff;
	display: block;
	margin: 0 auto 15px;
}
#slider-magazine .readmore a {
	text-decoration: none;
	text-align: center;
	display: block;
	height: 30px;
	width: 120px;
	line-height: 30px;
	font-size: 12px;
	color: #3F354B;
	background: #fff;
	margin: 0 auto;
	border-radius: 16px;
	position: relative;
	z-index: 999;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#slider-magazine .readmore a:hover {
	color: #fff;
	background: #3F354C;
	text-decoration: none;
}
#slider-magazine .owl-nav {
	position: absolute;
	right: 76px;
	bottom: 20px;
	font-size: 0;
}
#slider-magazine .owl-next, #slider-magazine .owl-prev {
	display: inline-block;
	background-image: url(../img/next.png);
	height: 18px;
	width: 9px;
}
#slider-magazine .owl-prev {
	margin-right: 50px;
	background-image: url(../img/prev.png);
}
#slider-magazine .counter {
	position: absolute;
	right: 98px;
	bottom: 20px;
	font-size: 14px;
	color: #fff;
	font-family: 'Merriweather', serif;
}
#slider-magazine .owl-dots {
	height: 15px;
	position: absolute;
	bottom: -35px;
	text-align: center;
	width: 100%;
	font-size: 0;
}
#slider-magazine .owl-dot {
	display: inline-block;
	height: 8px;
	width: 8px;
	border: 1px solid #40364B;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
#slider-magazine .owl-dot:hover, #slider-magazine .owl-dot.active {
	background: #d53382;
	border-color: #d53382;
}
#slider-magazine .owl-dot+.owl-dot {
	margin-left: 9px;
}
#content {
	background-color: #faf9f7;
	padding-top: 12px;
}
.magazine h1 {
	font-size: 42px;
	font-weight: normal;
	color: #333333;
	font-family: 'Oranienbaum', serif;
	margin-bottom: 30px;
}
.magazine h2 {
	font-family: 'Oranienbaum', serif;
	font-weight: normal;
	font-size: 36px;
}
.magazine h2:after {
	content: '';
	display: inline-block;
	background: url(../img/h2.png);
	height: 3px;
	width: 50px;
	margin-left: 20px;
	vertical-align: middle;
}
.magazine .r-col {
	width: 700px;
}
#recomend {
	padding: 20px;
}
.product-list .item {
	float: left;
	width: 220px;
	height: 416px;
	background-color: #fff;
	padding: 25px 20px;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	border: 1px solid transparent;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
.product-list .item:hover {
	border-color: #41374d;
}
.product-list .item+.item {
	margin-left: 20px;
}
.product-list .item:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 8px;
	width: 100%;
	height: 8px;
	background: url(../img/prodtop.png) no-repeat center top;
}
.product-list .item:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 100%;
	height: 8px;
	background: url(../img/prodtop.png) no-repeat center top;
}
.product-list .title {
	font-size: 13px;
	color: #222222;
	margin-bottom: 10px;
	height: 54px;
	overflow: hidden;
}
.product-list .title a {
	color: #222222;
	border-bottom: 1px solid transparent;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
.product-list .title a:hover {
	border-color: #222222;
	text-decoration: none;
}
.product-list .brand {
	font-family: 'Oranienbaum', serif;
	margin-bottom: 10px;
	font-size: 14px;
	color: #40364C;
}
.product-list .brand a {
	color: #40364C;
	border-bottom: 1px solid transparent;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
.product-list .brand a:hover {
	text-decoration: none;
	border-color: #40364C;
}
.product-list .image {
	font-size: 0px;
	line-height: 170px;
	text-align: center;
	height: 170px;
	margin-bottom: 10px;
}
.product-list .image img {
	max-height: 170px;
	max-width: 100%;
	vertical-align: middle;
}
.product-list .capacity {
	font-family: 'Oranienbaum', serif;
	font-size: 14px;
	color: #40364C;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e4e4dd;
}
.product-list .cost {
	float: left;
	font-size: 18px;
	color: #222222;
	line-height: 36px;
	height: 36px;
}
.product-list .to-cart {
	float: right;
	font-size: 0px;
	position: relative;
}
.product-list .to-cart a.tocart {
	display: block;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.product-list .to-cart a:hover {
	opacity: 0.7;
}
.product-list .to-cart .quantity {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 64px;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.product-list .to-cart.active a.tocart {
	display: none;
}
.product-list .to-cart.active .quantity {
	opacity: 1;
	visibility: visible;
}
.product-list .to-cart .quantity a {
	display: block;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.product-list .to-cart .quantity a:hover {
	opacity: 0.7;
}
.product-list .to-cart .minus {
	float: left;
	margin-top: 6px;
}
.product-list .to-cart .plus {
	float: right;
}
.product-list .to-cart .quantity span {
	position: absolute;
	right: -9px;
	top: -9px;
	color: #fff;
	font-size: 11px;
	background-color: #db237e;
	height: 20px;
	width: 20px;
	line-height: 20px;
	text-align: center;
	border: 1px solid #fff;
	display: block;
	border-radius: 50%;
	z-index: 10;
}
#popular {
	background: url(../img/rombs.jpg);
	padding: 20px 20px 40px;
}
#popular h2 {
	background: url(../img/popularh2.png) no-repeat center center;
	text-align: center;
}
#popular h2:after {
	display: none;
}
#popular .pop-cat:after {
	content: '';
	display: table;
	clear: both;
}
#popular .pop-item {
	float: left;
	width: 300px;
	height: 200px;
	background: #fff;
	border-radius: 10px;
	position: relative;
	border: 1px solid transparent;
	padding: 28px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
#popular .pop-item:hover {
	border-color: #41374d;
}
#popular .pop-item+.pop-item {
	margin-left: 20px;
}
#popular .pop-item:nth-child(2) {
	width: 300px;
	height: 420px;
	text-align: center;
}
#popular .pop-item:nth-child(4) {
	margin-top: 20px;
}
#popular .pop-item:nth-child(5) {
	margin-left: 0;
	position: relative;
	margin-top: -200px;
}
#popular .image {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 200px;
	line-height: 200px;
	font-size: 0;
	text-align: center;
}
#popular img {
	max-width: 200px;
	max-height: 200px;
	vertical-align: middle;
	display: inline-block;
}
#popular .pop-item:nth-child(2) img {
	max-width: 300px;
	max-height: 420px;
}
#popular .title {
	font-family: 'Oranienbaum', serif;
	font-size: 21px;
	color: #454545;
	width: 100px;
	line-height: 25px;
	position: relative;
	z-index: 10;
}
#popular .pop-item:nth-child(2) .title {
	width: auto;
	color: #fff;
	font-size: 24px;
}
#popular .title a {
	color: #454545;
	border-bottom: 1px solid transparent;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
#popular .title a:hover {
	border-color: #454545;
	text-decoration: none;
}
#popular .pop-item:nth-child(2) .title a {
	color: #fff;
}
#popular .pop-item:nth-child(2) .title a:hover {
	border-color: #fff;
}
#popular .pop-item:nth-child(2) .text {
	position: absolute;
	bottom: 28px;
	left: 0;
	width: 100%;
}
#popular .amount {
	position: absolute;
	bottom: 28px;
	font-size: 12px;
	color: #40364C;
}
#popular .amount:before {
	content: '';
	display: block;
	width: 40px;
	height: 1px;
	background: #eeedf1;
	margin-bottom: 12px;
}
#popular .pop-item:nth-child(2) .amount {
	position: relative;
	bottom: 0;
	color: #fff;
}
#popular .pop-item:nth-child(2) .amount:before {
	background: #fff;
	margin: 12px auto;
}
#advantages {
	background: #fff;
	padding: 60px 0;
}
#advantages .fl-l {
	background-image: url(../img/advantages.jpg);
	height: 560px;
	width: 400px;
	text-align: center;
	padding-top: 135px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#advantages .title:after {
	content: '';
	display: block;
	margin: 0 auto 38px;
	width: 50px;
	padding-bottom: 38px;
	border-bottom: 3px solid #e7e8ed;
}
#advantages .fl-l .title span {
	font-size: 21px;
	color: #454545;
	display: block;
	font-family: 'Oranienbaum', serif;
	margin-bottom: 5px;
}
#advantages .fl-l .title strong {
	font-size: 42px;
	color: #30387F;
	font-weight: normal;
	margin-bottom: 5px;
	display: block;
	line-height: 42px;
	font-family: 'Oranienbaum', serif;
}
#advantages .fl-l .title small {
	font-size: 10px;
	color: #DE177A;
	display: block;
}
#advantages .amount span {
	font-size: 100px;
	color: #30387F;
	line-height: 100px;
}
#advantages .amount small {
	font-size: 21px;
	color: #454545;
	display: block;
}
#advantages .fl-r {
	width: 440px;
}
#advantages h2 {
	font-size: 54px;
	color: #40364B;
	line-height: 54px;
}
#advantages h2:after {
	display: none;
}
#advantages .caption {
	font-size: 14px;
	color: #DE177B;
	margin-bottom: 30px;
}
#advantages .item {
	height: 80px;
	margin-bottom: 25px;
	padding-bottom: 3px;
}
#advantages .item span {
	vertical-align: middle;
	display: table-cell;
	height: 80px;
	width: 440px;
	font-size: 0;
}
#advantages .item img {
	width: 82px;
	margin-right: 8px;
}
#advantages .item small {
	font-size: 15px;
	color: #3F334C;
	display: inline-block;
	vertical-align: middle;
	width: 350px;
}
#delivery {
	background: url(../img/features.jpg) no-repeat center center;
	height: 276px;
	padding-top: 46px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
}
#delivery .fl-l {
	width: 440px;
}
#delivery .fl-r {
	width: 440px;
}
#delivery .title {
	font-family: 'Oranienbaum', serif;
	font-size: 30px;
	margin-bottom: 20px;
}
#delivery img {
	vertical-align: middle;
	margin-right: 15px;
}
#delivery dt {
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 5px;
	text-transform: uppercase;
}
#delivery dd {
	margin-bottom: 20px;
	font-size: 14px;
}
#cat-banner {
	position: relative;
	top: -12px;
}
#cat-banner img {
	display: block;
	margin: 0 auto;
}
#cat-banner .caption {
	position: absolute;
	left: 30px;
	top: 80px;
}
#cat-banner .title {
	font-size: 54px;
	color: #3F354B;
	font-family: 'Oranienbaum', serif;
}
#cat-banner .desc {
	font-size: 14px;
	color: #DE177B;
}
.category {
	float: left;
	width: 460px;
	height: 240px;
	background: #fff;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 28px 20px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
.category:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 8px;
	width: 100%;
	height: 8px;
	background: url(../img/categoriestop.png) no-repeat center center;
}
.category:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 100%;
	height: 8px;
	background: url(../img/categoriesbot.png) no-repeat center center;
}
.category:hover {
	border-color: #41374d;
}
.category:nth-child(2n) {
	float: right;
}
.category .image {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 240px;
	line-height: 240px;
	font-size: 0;
	text-align: center;
}
.category .image img {
	max-width: 200px;
	max-height: 200px;
	vertical-align: middle;
	display: inline-block;
}
.category .title {
	font-family: 'Oranienbaum', serif;
	font-size: 21px;
	color: #454545;
	width: 100px;
	line-height: 25px;
}
.category .title a {
	color: #454545;
	border-bottom: 1px solid transparent;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
.category .title a:hover {
	border-color: #454545;
	text-decoration: none;
}
.category .amount {
	position: absolute;
	bottom: 28px;
	font-size: 12px;
	color: #40364C;
}
.category .amount:before {
	content: '';
	display: block;
	width: 40px;
	height: 1px;
	background: #eeedf1;
	margin-bottom: 12px;
}
.sort-direction {
	float: left;
	margin-bottom: 20px;
	position: relative;
}
.product-sort {
	float: right;
	margin-bottom: 20px;
	position: relative;
}
.product-sort label, .sort-direction label {
	font-size: 14px;
	color: #3F334C;
	margin-right: 10px;
	vertical-align: middle;
}
.prod-pagenav {
	font-family: 'Oranienbaum', serif;
	text-align: center;
	margin-bottom: 20px;
}
.prod-pagenav span {
	font-size: 24px;
	color: #3F344C;
	margin: 0 12px;
}
.prod-pagenav a {
	font-size: 18px;
	color: #3F334C;
	display: inline-block;
	text-align: center;
	width: 44px;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
}
.prod-pagenav a:hover {
	font-size: 24px;
	text-decoration: none;
}
#product-full {
	margin-bottom: 40px;
	position: relative;
	background: url(../img/prodfullbg.png) repeat-y left top;
}
#product-full .fl-l {
	width: 480px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px 30px;
}
#product-full .fl-r {
	width: 220px;
	height: 100%;
	background-color: #fff;
	padding: 0 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#product-full h1 {
	font-size: 18px;
	color: #212121;
	font-family: 'Open Sans', sans-serif;
}
#full-poduct-images {
	margin-bottom: 50px;
}
#product-full .full-image {
	text-align: center;
	margin-bottom: 10px;
}
#product-full .thumbs {
	font-size: 0;
	text-align: center;
}
#product-full .thumbs a {
	height: 40px;
	display: inline-block;
	border: 1px solid transparent;
	margin: 0 5px;
	-webkit-transition: border 0.3s ease;
	-moz-transition: border 0.3s ease;
	-ms-transition: border 0.3s ease;
	-o-transition: border 0.3s ease;
	transition: border 0.3s ease;
}
#product-full .thumbs a:hover, #product-full .thumbs a.active {
	border-color: #413750;
}
#product-full .thumbs img {
	display: block;
	height: 40px !important;
	width: auto !important;
}
#product-full .description {
	font-size: 13px;
	color: #454545;
}
#product-full .description dt {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #3F344C;
	margin-bottom: 5px;
}
#product-full .description dd {
	margin-bottom: 15px;
}
#product-full .price-block {
	width: 220px;
	margin-left: -20px;
	margin-bottom: 20px;
	position: relative;
	background-color: #40364e;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 20px;
	color: #fff;
}
#product-full .price-block .name {
	font-size: 12px;
}
#product-full .price-block .price {
	font-size: 30px;
	font-weight: bold;
}
#product-full .price-block .caption {
	font-size: 12px;
}
.cart-btn {
	display: block;
	text-decoration: none;
	font-size: 14px;
	background: #db237e;
	color: #fff;
	line-height: 36px;
	text-align: center;
	height: 36px;
	cursor: pointer;
	border-radius: 18px;
	margin-bottom: 30px;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.cart-btn:hover {
	background-color: #40364e;
	color: #fff;
	text-decoration: none;
}
#product-full .attributes {
	font-size: 0px;
	color: #3F344C;
	margin-bottom: 20px;
}
#product-full .attributes .title {
	font-size: 12px;
	color: #666666;
	background: url(../img/attributes.png) no-repeat center center;
	margin-bottom: 15px;
	text-align: center;
}
#product-full .attributes dt {
	display: inline-block;
	width: 80px;
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 15px;
}
#product-full .attributes dd {
	display: inline-block;
	width: 100px;
	font-size: 12px;
	margin-bottom: 15px;
}
#product-full .brand .title {
	font-size: 12px;
	color: #666666;
	background: url(../img/brand.png) no-repeat center center;
	margin-bottom: 15px;
	text-align: center;
}
.cart-steps {
	height: 40px;
	line-height: 40px;
	font-size: 0;
	color: #fff
}
.cart-steps.step1 {
	background: url(../img/step1.png);
}
.cart-steps.step1 .step:nth-child(1) {
	color: #fff;
}
.cart-steps.step2 {
	background: url(../img/step2.png);
}
.cart-steps.step2 .step:nth-child(2) {
	color: #fff;
}
.cart-steps.step3 {
	background: url(../img/step3.png);
}
.cart-steps.step3 .step:nth-child(3) {
	color: #fff;
}
.cart-steps .step {
	display: inline-block;
	color: #666666;
	font-size: 14px;
	width: 33.33%;
	text-align: center;
}
.cart-steps div:before {
	content: '';
}
#cart-page {
	padding-bottom: 40px;
}
#cart-page table {
	border-collapse: collapse;
	background: #fff;
	border: 1px solid #e4e2e5;
}
#cart-page table th {
	padding: 15px 0;
	font-size: 13px;
	color: #666;
	border-bottom: 1px solid #e4e2e5;
}
#cart-page table td {
	padding: 10px 0;
	vertical-align: middle;
}
#cart-page table img {
	vertical-align: middle;
}
#cart-page table td:nth-child(1) {
	text-align: center;
	width: 60px;
}
#cart-page table td:nth-child(1) span {
	cursor: pointer;
}
#cart-page table td:nth-child(2) {
	text-align: center;
}
#cart-page table td:nth-child(2) img {
	vertical-align: middle;
}
#cart-page table td:nth-child(3) {
	width: 285px;
	padding-right: 15px;
	font-size: 14px;
}
#cart-page table td:nth-child(3) a {
	color: #222;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
#cart-page table td:nth-child(3) a:hover {
	color: #DD2C7F;
	text-decoration: none;
}
#cart-page table td:nth-child(4) {
	font-size: 14px;
	color: #222;
	font-weight: 600;
}
#cart-page table td:nth-child(5) {
	padding: 10px 15px;
}
#cart-page table td:nth-child(6) {
	font-size: 0;
	width: 122px;
}
#cart-page table td:nth-child(6) span, #cart-page table td:nth-child(6) small {
	font-size: 14px;
	color: #212121;
	font-weight: 600;
	display: block;
	height: 36px;
	line-height: 36px;
	float: left;
	text-align: center;
	border-top: 1px solid #e4e2e5;
	border-bottom: 1px solid #e4e2e5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cart-page table td:nth-child(6) span {
	font-size: 0;
	background: #f2f2f2;
	width: 36px;
	cursor: pointer;
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	-ms-transition: background 0.3s;
	-o-transition: background 0.3s;
	transition: background 0.3s;
}
#cart-page table td:nth-child(6) span:hover {
	background: #fff;
}
#cart-page table td:nth-child(6) span.minus {
	border-left: 1px solid #e4e2e5;
	border-radius: 50% 0 0 50%;
}
#cart-page table td:nth-child(6) span.plus {
	border-right: 1px solid #e4e2e5;
	border-radius: 0 50% 50% 0;
}
#cart-page table td:nth-child(6) small {
	width: 50px;
}
#cart-page table td:nth-child(7) {
	padding: 10px 15px;
	text-align: center;
}
#cart-page table td:nth-child(8) {
	font-size: 14px;
	color: #222;
	font-weight: 600;
}
.cart-total {
	border: 1px solid #e4e2e5;
	border-top: 0;
	background: #fff;
	padding: 30px 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.cart-total:after {
	content: '';
	display: table;
	clear: both;
}
.cart-total .go-back {
	float: left;
	height: 40px;
}
.cart-total .go-back a {
	display: block;
	height: 40px;
	line-height: 40px;
	background: url(../img/back.png) left center no-repeat;
	padding-left: 50px;
	font-size: 16px;
	color: #666;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
.cart-total .go-back a:hover {
	text-decoration: none;
	color: #DB237E;
}
.cart-total .total-price {
	float: right;
	height: 40px;
}
.cart-total .total-price small, .cart-total .total-price span, .cart-total .total-price a {
	display: inline-block;
}
.cart-total .total-price small {
	font-size: 16px;
	color: #666;
	margin-right: 12px;
}
.cart-total .total-price span {
	font-size: 24px;
	color: #212121;
	margin-right: 24px;
}
.cart-total .total-price a {
	width: 200px;
}
#order {
	padding-bottom: 40px;
}
#order .inner {
	border: 1px solid #e4e2e5;
	border-top: 0;
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 60px;
}
#order .title {
	font-size: 13px;
	color: #212121;
	height: 32px;
	margin-bottom: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #e9e9e9;
	font-weight: bold;
}
#order .fl-l {
	width: 460px;
}
#order .fl-r {
	width: 300px;
}
#order .fl-r div+div {
	margin-top: 35px;
}
#order .row+.row {
	margin-top: 30px;
}
#order .row:after {
	content: '';
	display: table;
	clear: both;
}
.contact-inf {
	margin-bottom: 50px;	
}
.contact-inf label {
	display: block;
	float: left;
	cursor: pointer;
	height: 36px;
	line-height: 36px;
	font-size: 14px;
	color: #666;
	width: 160px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.contact-inf input {
	display: block;
	width: 300px;
	float: left;
	height: 36px;
	border-radius: 18px;
	border: 2px solid #e8e6e9;
	background: #f4f4f4;
	padding: 0 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: 0.3s;
	-moz-transition: border 0.3s;
	-ms-transition: border 0.3s;
	-o-transition: border 0.3s;
	transition: border 0.3s;
	cursor: pointer;
}
.contact-inf input:hover, .contact-inf input:focus {
	border-color: #d82c80;
}
.delivery-inf {
	padding-top: 45px;
}
.delivery-inf p {
	font-size: 13px;
	color: #1F1F1F;
}
.delivery-inf a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}
.delivery-inf a:hover {
	text-decoration: none;
	color: #1F1F1F;
}
.delivery-options:after {
	content: '';
	display: table;
	clear: both;
}
.delivery-options input {
	display: none;
}
.delivery-options label {
	display: block;
	cursor: pointer;
	margin-bottom: 10px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #666;
}
.delivery-options label:before {
	content: '';
	display: block;
	float: left;
	vertical-align: middle;
	height: 24px;
	width: 24px;
	background: url(../img/radio.png);
	margin-right: 8px;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
.delivery-options input:checked+label:before {
	background: url(../img/radioa.png);
}
.delivery-type {
	float: left;
	width: 180px;
}
.delivery-pay-type {
	float: left;
	width: 320px;
}
.delivery-desc {
	float: left;
	width: 318px;
	font-style: italic;
	font-size: 14px;
	color: #666;
	padding-top: 18px;
	margin-top: 32px;
	border-top: 1px solid #e9e9e9;
}
#order .btn {
	padding-top: 28px;
	margin-top: 18px;
	border-top: 1px solid #e9e9e9;
}
#order input[type="submit"] {
	display: block;
	width: 300px;
	font-size: 14px;
	background: #db237e;
	color: #fff;
	text-align: center;
	height: 36px;
	line-height: 36px;
	cursor: pointer;
	border-radius: 18px;
	border: 0;
	outline: none;
	cursor: pointer;
	padding: 0;
	margin: 0 auto;
	font-weight: normal;
	-webkit-transition: background 0.3s ease;
	-moz-transition: background 0.3s ease;
	-ms-transition: background 0.3s ease;
	-o-transition: background 0.3s ease;
	transition: background 0.3s ease;
}
#order input[type="submit"]:hover {
	background-color: #40364e;
}
#purshdone {
	padding-bottom: 40px;
	text-align: center;
}
#purshdone .inner {
	border: 1px solid #e4e2e5;
	border-top: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 130px 60px 60px;
	background: #fff url(../img/purshdone.png) center 60px no-repeat;
}
#purshdone .title {
	font-size: 42px;
	font-weight: normal;
	color: #333333;
	font-family: 'Oranienbaum', serif;
	margin-bottom: 15px;
}
#purshdone p {
	width: 400px;
	margin: 0 auto 30px;
	font-size: 16px;
	color: #3F344C;
}
#purshdone .caption {
	font-size: 13px;
	color: #868686;
	font-style: italic;
}
#purshdone .phone {
	font-size: 24px;
	color: #3F334C;
}
.footer-push.magazine {
	background: #fff;
}
/*Magazine Style*/
